html
  head
    meta(charset="utf-8")
    title=headTitle
    base(href=mountpath)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,500,300italic|Ubuntu+Mono" rel="stylesheet" type="text/css")
    link(href="https://unpkg.com/dress-code@2.3.0/dist/css/dress-code.min.css" rel="stylesheet" type="text/css")
    link(rel="apple-touch-icon-precomposed", sizes="57x57", href=mountpath + "assets/icons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href=mountpath + "assets/icons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href=mountpath + "assets/icons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href=mountpath + "assets/icons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon-precomposed", sizes="120x120", href=mountpath + "assets/icons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon-precomposed", sizes="152x152", href=mountpath + "assets/icons/apple-touch-icon-152x152.png")
    link(rel="icon", type="image/png", href=mountpath + "assets/icons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href=mountpath + "assets/icons/favicon-16x16.png", sizes="16x16")
    meta(name="application-name", content="&nbsp;")
    meta(name="msapplication-TileColor", content="#FFFFFF")
    meta(name="msapplication-TileImage", content="mstile-144x144.png")
    script(src=mountpath + "env.js" type="text/javascript")
  body
    div(id="app")
    script(src=mountpath + "assets/bundle.js" type="text/javascript")

